<!DOCTYPE html>
<html>
  <head>
    <title>AdSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="aler alert-<%= message_type %>"><h1><%= message %></h1></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
